<div class="container">
  <div class="row">
    <div class="span8">
      Platforms
      <ul class="nav nav-pills">
        <li class="active"><a href="#">All</a></li>
        <% if (devicePlatforms) { %>
          <% devicePlatforms.forEach( function(platform){ %>
            <li><a href="#"><%- platform %></a></li>
          <% }); %>
        <% } %>
      </ul>
      Offices
      <ul class="nav nav-pills">
        <li class="active"><a href="#">All</a></li>
        <% if (deviceOffices) { %>
          <% deviceOffices.forEach( function(office){ %>
            <li><a href="#"><%- office %></a></li>
          <% }); %>
        <% } %>
      </ul>
      Availability
      <ul class="nav nav-pills">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Checked In</a></li>
        <li><a href="#">Checked Out</a></li>
      </ul>
      <div id="map-image"></div>
    </div>
    <div class="span4">
      <div id="devices-list">
      <% if (devicesByZone) { %>
        <% Array.prototype.forEach.call(Object.keys(devicesByZone), function(zone){ %>
          <h3><%- zone %></h3>
          <% Array.prototype.forEach.call(devicesByZone[zone], function(device){ %>
            <h4><%- device.name %></h4>
          <% }); %>
        <% }); %>
      <% } %>
      </div>
    </div>
  </div>
</div>
