<script>
  localStorage.devices = '[<%- devices %>]';
  document.addEventListener("DOMContentLoaded", function() {
    buildDeviceListDOM();
  });
</script>
<div class="row">
  <div class="span8">
    <div class="filter-container">
      <span>Platforms</span>
      <ul id="platform-filter" class="nav nav-pills">
        <li class="active" onclick="clickPill(this)"><a href="#">All</a></li>
        <% if (devicePlatforms) { %>
          <% devicePlatforms.forEach( function(platform){ %>
            <li onclick="clickPill(this)"><a href="#"><%- platform %></a></li>
          <% }); %>
        <% } %>
      </ul>
      <span>Offices</span>
      <ul id="office-filter" class="nav nav-pills">
        <li class="active" onclick="clickPill(this)"><a href="#">All</a></li>
        <% if (deviceOffices) { %>
          <% deviceOffices.forEach( function(office){ %>
            <li onclick="clickPill(this)"><a href="#"><%- office %></a></li>
          <% }); %>
        <% } %>
      </ul>
      <span>Availability</span>
      <ul id="availability-filter" class="nav nav-pills">
        <li class="active" onclick="clickPill(this)"><a href="#">All</a></li>
        <li onclick="clickPill(this)"><a href="#">Checked In</a></li>
        <li onclick="clickPill(this)"><a href="#">Checked Out</a></li>
      </ul>
    </div>
    <div id="map-container">
      <img id="hudl-east-1" class="east-1-map" src="../img/hudl-zones/hudl-east-1.png"></img>
      <img id="hudl-east-1-east" class="east-1-map zone-map zone-east inactive" src="../img/hudl-zones/hudl-east-1-east.png"></img>
      <img id="hudl-east-1-west" class="east-1-map zone-map zone-west inactive" src="../img/hudl-zones/hudl-east-1-west.png"></img>
      <img id="hudl-east-1-cart" class="east-1-map zone-map zone-cart inactive" src="../img/hudl-zones/hudl-east-1-cart.png"></img>
    </div>
  </div>
  <div class="span4">
    <input class="form-control" onkeyup='updateSearch(event)' placeholder='search device description' id="focusedInput" type="text" value="">
    <div id="devices-list">
    </div>
  </div>
</div>

<!-- Checkin / Checkout modal -->
<div id="checkoutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="modal-title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form id="check-device-form" class="form-horizontal hide-form" method="POST">
          <input id="check-device-input" class="btn btn-default btn-success btn-block" type="submit" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
