<div class="hero-unit">
  <h2>All Devices</h2>
  <%- linkTo('Create a new Device', addDevicePath, {class: 'btn pull-right'}); %>
</div>

<div id="devices-list">
<% if (devices) { %>
<% for (var i = 0, ii = devices.length; i < ii; i++) { %>
  <div class="row list-item" id="device-<%= devices[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(devices[i].name, devicePath(devices[i].udid)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= devices[i].udid; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>
